version: '2'
mpp-vars:
  name: {{ conf.name }}
{% if osbuild.containers %}
  use_containers_extra_store: true
{% endif %}
{% if osbuild.qm_containers %}
  use_qm_containers_extra_store: true
{% endif %}
  use_qm: true
  use_bluechi: true
{% if osbuild.extra_rpms %}
  extra_rpms:
  {{ osbuild.extra_rpms | unique | sort | to_nice_yaml | indent(2)}}
{% endif %}
{% if osbuild.qm_extra_rpms %}
  qm_extra_rpms:
  {{ osbuild.qm_extra_rpms | unique | sort | to_nice_yaml | indent(2)}}
{% endif %}
{% if osbuild.extra_repos %}
  extra_repos:
  {{ osbuild.extra_repos | to_nice_yaml(indent=2) | indent(2)}}
{% endif %}
{% if osbuild.qm_extra_repos %}
  qm_extra_repos:
  {{ osbuild.qm_extra_repos | to_nice_yaml(indent=2) | indent(2)}}
{% endif %}

pipelines:
- mpp-import-pipelines:
    path: include/build.ipp.yml

- name: qm_rootfs
  build: name:build
  stages:
  - type: org.osbuild.copy
    inputs:
      tree:
        type: org.osbuild.tree
        origin: org.osbuild.pipeline
        references:
          - name:qm_rootfs_base
    options:
      paths:
        - from: input://tree/
          to: tree:///

{% if osbuild.qm_containers %}
  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
          {{ osbuild.qm_containers | to_nice_yaml(indent=2) | indent(10) }}
    options:
      destination:
        type: containers-storage
        storage-path:
          mpp-eval: containers_extra_store
{% endif %}

{% if osbuild.qm_groups %}
  - type: org.osbuild.groups
    options:
      groups:
        {{ osbuild.qm_groups | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}

{% if osbuild.qm_users %}
  - type: org.osbuild.users
    options:
      users:
        {{ osbuild.qm_users | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}

{% if osbuild.qm_extra_contents %}
  - type: org.osbuild.mkdir
    options:
      paths:
      {{ osbuild.qm_extra_contents.directories | to_nice_yaml(indent=2) | indent(6) }}

  - type: org.osbuild.copy
    inputs:
      {{ osbuild.qm_extra_contents.inputs | to_nice_yaml(indent=2) | indent(6) }}
    options:
      paths:
      {{ osbuild.qm_extra_contents.paths | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

{% if osbuild.qm_systemd %}
  - type: org.osbuild.systemd
    options:
      {{ osbuild.qm_systemd | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

- name: rootfs
  build: name:build
  stages:
  - type: org.osbuild.kernel-cmdline
    options:
      root_fs_uuid:
        mpp-if: not use_abl
        then:
          mpp-eval: rootfs_uuid
      kernel_opts:
        mpp-eval: ''' '' .join(kernel_opts)'
  - type: org.osbuild.rpm
    options:
      gpgkeys:
      - mpp-eval: distro_gpg_keys
      disable_dracut: true
      exclude:
        docs: true
    inputs:
      packages:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-depsolve:
          architecture: $arch
          ignore-weak-deps: true
          module-platform-id: $distro_module_id
          baseurl: $distro_baseurl_repo
          repos:
            mpp-join:
            - mpp-eval: image_repos
            - mpp-eval: extra_repos
            - []
          packages:
            mpp-join:
            - mpp-eval: image_rpms
            - mpp-eval: extra_rpms
            - []
          excludes:
          - dracut-config-rescue

{% if osbuild.containers %}
  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
          {{ osbuild.containers | to_nice_yaml(indent=2) | indent(10) }}
    options:
      destination:
        type: containers-storage
        storage-path:
          mpp-eval: containers_extra_store
{% endif %}

{% if osbuild.groups %}
  - type: org.osbuild.groups
    options:
      groups:
        {{ osbuild.groups | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}

{% if osbuild.users %}
  - type: org.osbuild.users
    options:
      users:
        {{ osbuild.users | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}

{% if osbuild.extra_contents %}
  - type: org.osbuild.mkdir
    options:
      paths:
      {{ osbuild.extra_contents.directories | to_nice_yaml(indent=2) | indent(6) }}

  - type: org.osbuild.copy
    inputs:
      {{ osbuild.extra_contents.inputs | to_nice_yaml(indent=2) | indent(6) }}
    options:
      paths:
      {{ osbuild.extra_contents.paths | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

{% if osbuild.systemd %}
  - type: org.osbuild.systemd
    options:
      {{ osbuild.systemd | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}

  - type: org.osbuild.hostname
    options:
      hostname: {{ conf.hostname | default('localhost') }}

  - type: org.osbuild.selinux.config
    options:
      state: {{ conf.selinux.state | default('enforcing') }}

  - type: org.osbuild.users
    options:
      users:
        guest:
          password:
            mpp-eval: guest_password
          gid:
            mpp-eval: guest_gid
          uid:
            mpp-eval: guest_uid
- mpp-import-pipelines:
    path: include/image.ipp.yml
